@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1b1b1b;
  background-color: #fff;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
